.loginC {
    background: rgb(255, 254, 251);
    border: 0.15rem solid var(--somColor);
    box-shadow: 0 0 1rem 0rem rgba(255, 100, 100, 0.5);
    padding: 2rem;
    border-radius: 0.3rem;
    gap: 1rem;
    animation: anLogC 3s linear infinite;
}

@keyframes anLogC {
    0% {
        box-shadow: 0 0 0.1rem 0.3rem transparent;
        border: 0.2rem solid rgb(255, 1, 1);
    }

    50% {
        box-shadow: 0 0 1rem 0.1rem rgba(255, 1, 1, 0.5);
        border: 0.2rem solid var(--somColor);
    }

    100% {
        box-shadow: 0 0 0.1rem 0.3rem transparent;
        border: 0.2rem solid rgb(255, 1, 1);
    }
}

.insLU {
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--somColor);
    font-size: 1.3rem;
    padding: 0.4rem;
    transition: 0.2s all ease-out;
    width: 15rem;
}

.insLU:focus {
    border: 0.2rem solid var(--somColor);
    outline: none;
    border-radius: 0.4rem;
}

.divInsL p {
    width: 10rem;
    text-align: center;
}

.doLog {
    background: var(--somColor);
    color: white;
    padding: 0.6rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}