.navbar {
    position: fixed;
    top: 0;
    height: 4rem;
    background: white;
    border-bottom: 0.1rem solid var(--som-dark);
    padding: 0.3rem;
    width: 100%;
}

.somLogo {
    width: 2.8rem;
}

.kjsit {
    max-width: 20rem;
    font-size: 0.7rem;
    color: black;
}

.kjhead {
    font-size: 0.9rem;
    color: var(--som-dark);
    font-weight: 590;
}

.somTrust {
    height: 3rem;
}

.fpHead{
    text-decoration: underline;
    text-decoration-color: black;
}



